<img
  class="my-5"
  src="https://solawi.gaertnerei-apfeltraum.de/wp-content/uploads/2020/01/logo-bw.png"
  alt="Logo Gärtnerei Apfeltraum"
  title="Logo Gärtnerei Apfeltraum"
  data-src="https://solawi.gaertnerei-apfeltraum.de/wp-content/uploads/2020/01/logo-bw.png"
  decoding="async"
>

<h1 class="text-apfeltraum font-bold text-2xl text-center mx-auto my-10">
  Willkommen zur Bieterrunde 2022
</h1>

<% if error.present? %>
  <div class="w-full mt-3 max-w-7xl mx-auto mb-10">
    <div class="">
      <div class="border-2 border-red bg-red/20 rounded-lg">
        <p class="text-red py-6 sm:px-6 lg:px-8"><%= error %></p>
      </div>
    </div>
  </div>
<% end %>

<% if success.present? %>
  <div class="w-full mt-3 max-w-7xl mx-auto mb-10">
    <div class="">
      <div class="border-2 border-apfeltraum bg-apfeltraum/20 rounded-lg">
        <p class="text-apfeltraum py-6 sm:px-6 lg:px-8"><%= success %></p>
      </div>
    </div>
  </div>
<% end %>

<h3 class="text-apfeltraum text-lg font-medium">
  Hallo <%= @membership.name %>,
</h3>

<% case @membership.status %>
<% when :bid_placed_by_other_member %>
  <div id="current_bid">
    <p>Ein anderes Mitglied hat bereits ein Gebot abgegeben für deine Mitgliedschaft mit der Nummer S<%= @membership.id %>:</p>
    <p>Betrag: <%= number_to_currency(@membership.amount) %></p>
    <p>Anteile: <%= @membership.shares %></p>
  </div>
<% when :bid_placed_by_self %>
  <div id="current_bid">
    <p>Wir haben dein Gebot gespeichert mit folgenden Daten:</p>
    <p>Mitgliedschaftsnummer: S<%= @membership.id %></p>
    <p>Betrag: <%= number_to_currency(@membership.amount) %></p>
    <p>Anteile: <%= @membership.shares %></p>
  </div>
<% else %>
  <div id="new_bid_form">
    <% if @membership.shares > 1 %>
      Deine Mitgliedschaft mit der Nummer S<%= @membership.id %> bezieht momentan <%= @membership.shares %> Anteile.<br/>
      Dein Gebot bezieht sich auf einen Anteil. Daraus folgt:<br/>
      <br/>
      Monatlich zu zahlender Betrag = Dein Gebot mal Anzahl der Anteile.
    <% else %>
      Deine Mitgliedschaft hat die Nummer S<%= @membership.id %>.
    <% end %>
    <br/>
    <br/>
    <%= form_for @membership, url: { :action => "edit" }, method: :put do |form| %>
      <%= form.hidden_field :id %>
      <%= form.hidden_field :name %>
      <%= form.hidden_field :email %>
      <%= form.hidden_field :shares %>
      <%= form.label :amount, "Bitte gib dein Gebot für 2022 ein:" %>
      <div class="mt-1 flex flex-col sm:flex-row">
        <div class="relative rounded-md shadow-sm grow sm:mr-1">
          <%= form.number_field :amount, in: 50.0..200.0, step: 0.01, class: "focus:ring-apfeltraum focus:border-apfeltraum block w-full pr-7 sm:text-sm border-apfeltraum rounded-md" %>
          <div class="absolute inset-y-0 right-2 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 sm:text-sm">€</span>
          </div>
        </div>
        <%= form.button "Speichern", class: "sm:w-[140px] grow sm:grow-0 mt-1 sm:mt-0 text-white rounded-md bg-apfeltraum/80 p-1 px-4 hover:bg-apfeltraum" %>
      </div>
    <% end %>
  </div>
<% end %>
